h1.JuanCarlos{

    color:rgb(51, 51, 77);
    font-size: 250%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header.titulo2{

    background-color:rgb(123, 146, 157);

    color:rgb(65, 80, 88);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


article.texto{

    background-color:rgb(182, 194,201);
}

h3.subtitulos{

    background-color:rgb(152, 170, 179);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(87, 107, 117);

}

footer.autor{

    font-family: sans-serif;
    text-align: right;
    background-color: rgb(255, 255, 255);
}

span.azul{

    color: blue;


}

